<mat-card *ngIf="product">
	<h1 mat-card-title>{{ product.name }}</h1>
	<a class="product">
		<img
			mat-card-xl-image
			src="{{ product.url }}"
			width="400px"
			alt="{{ product.name }} {{ product.description }}"
		/>
		<span mat-card-content>
			{{ product.description }}
		</span>

		<strong mat-card-content>{{ product.price | currency: 'EGP ' }}</strong>
	</a>
	<a type="button" routerLink="/" mat-flat-button color="secondary">
		Back to products
	</a>
	<button (click)="addToCart()" mat-raised-button color="primary">
		Buy now
	</button>
</mat-card>
