<mat-card class="product-card">
	<div *ngIf="product">
		<a>
			<img
				mat-card-lg-image
				src="{{ product.url }}"
				width="200px"
				alt="{{ product.name }} {{ product.description }}"
				routerLink="/product-details/{{ product.id }}"
				style="cursor: pointer"
			/>
			<span class="product-name-title" mat-card-title>
				{{ product.name }}
			</span>
			<span mat-card-subtitle>{{ product.price | currency: 'EGP ' }}</span>
			<span mat-card-content style="white-space: nowrap; overflow: hidden">
				{{ product.description }}
			</span>
		</a>
		<mat-card-actions>
			<button
				mat-raised-button
				color="primary"
				(click)="addToCart(); showAlert(product)"
			>
				Buy now
			</button>
		</mat-card-actions>
	</div>
</mat-card>
