nav {
  position: relative top;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: bisque;
}
nav > ul {
  display: flex;
}

nav > ul > a {
  padding: 1rem 2rem;
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}
